{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<section id="form-page" class="dfull">

		<section id="form-container" class="dfull">
			<div>
				<img src="{{ asset('img/form2.jpg')}}" / alt="image">
			</div>
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
			{% endif %}
			{{ form_start(formLoginUser) }}
			<div id="form" class="dfull fdc">
				<h2>Connexion</h2>

				<label for="registerEmail" class="labelForm">Email</label><br/>
				{{ form_widget(formLoginUser.email) }}
				{{ form_errors(formLoginUser.email) }}

				<label for="password" class="labelForm">Mot de passe</label><br/>
				{{ form_widget(formLoginUser.password) }}
				{{ form_errors(formLoginUser.password) }}

				<div class="forgot-password">
					<a href="{{ path('app_forgot_password') }}">Mot de passe oublié ?</a>
				</div>


				<button type="submit" class="submit-button">Se connecter</button>


				<div class="login-link">
					<p>Pas encore inscrit ?
						<a href="{{ path('app_register') }}">Inscrivez-vous</a>
					</p>
				</div>
			</div>
			{{ form_end(formLoginUser) }}
		</section>

	</section>

{% endblock %}
