{% extends 'base.html.twig' %}

{% block title %}Oublie de mot de passe
{% endblock %}

{% block body %}
	<section id="form-page" class="dfull">

		<section id="form-container" class="dfull">
			<div>
				<img src="{{ asset('img/form.jpg')}}" / alt="image">
			</div>
			{% for flash_error in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}

			{{ form_errors(forgotPasswordForm) }}

			{{ form_start(forgotPasswordForm) }}
			<div id="form" class="dfull fdc">
				<h2>Mot de passe oublié ? </h2>
				<label for="registerEmail" class="labelForm">Email</label><br/>
				{{ form_widget(forgotPasswordForm.email) }}

				<button type="submit" class="submit-button">Réinitialiser votre mot de passe</button>
			</div>
			{{ form_end(forgotPasswordForm) }}
		</section>
	</section>
{% endblock %}
