{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <section id="form-page" class="dfull">
        <section id="form-container" class="dfull">
            <div>
                <img src="{{ asset('img/form.jpg') }}" alt="image">
            </div>

            {# Afficher les messages flash de type erreur pour la vérification d'email #}
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {# Afficher les erreurs globales du formulaire #}
            {{ form_errors(forgotPasswordForm) }}

            {# Démarrer le formulaire #}
            {{ form_start(forgotPasswordForm) }}
                <div id="form" class="dfull fdc">
                    <h2>Mot de passe oublié ?</h2>
                    <label for="registerEmail" class="labelForm">Email</label><br/>
                    {{ form_widget(forgotPasswordForm.email) }}

                    <button type="submit" class="submit-button">Réinitialiser votre mot de passe</button>
                </div>
            {{ form_end(forgotPasswordForm) }}
        </section>
    </section>
{% endblock %}
