{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe
{% endblock %}

{% block body %}
	<section id="form-page" class="dfull">

		<section id="form-container" class="dfull">
			<div>
				<img src="{{ asset('img/form.jpg')}}" / alt="image">
			</div>
			{% for flash_error in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}
			<div id="form" class="dfull fdc">
				<h2>Création d'un nouveau mot de passe</h2>
				<label for="registerEmail" class="labelForm">Email</label><br/>
				{{ form_widget(registrationForm.email) }}
				<label for="password" class="labelForm">Nouveau mot de passe</label><br/>
				{{ form_widget(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
				<label for="passwordConfirm" class="labelForm">Confirmer votre nouveau mot de passe</label><br/>
				{{ form_widget(registrationForm.passwordConfirm, {
            label: 'Password'
        }) }}

				<button type="submit" class="submit-button">Confirmer</button>

			</div>
			{{ form_end(registrationForm) }}
		</section>
	</section>
{% endblock %}
