{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<section id="form-page" class="dfull">

		<section id="form-container" class="dfull">
			<div>
				<img src="{{ asset('img/form.jpg')}}" / alt="image">
			</div>

			{{ form_start(formRegisterUser) }}
			<div id="form" class="dfull fdc">
				<h2>Inscription</h2>
				<label for="registerUsername" class="labelForm">Nom d'utilisateur</label><br/>
				{{ form_widget(formRegisterUser.username) }}
				{{ form_errors(formRegisterUser.username) }}

				<label for="registerEmail" class="labelForm">Email</label><br/>
				{{ form_widget(formRegisterUser.email) }}
				{{ form_errors(formRegisterUser.email) }}

				<label for="password" class="labelForm">Mot de passe</label><br/>
				{{ form_widget(formRegisterUser.password) }}
				{{ form_errors(formRegisterUser.password) }}

				<label for="passwordConfirm" class="labelForm">Confirmer votre mot de passe</label><br/>
				{{ form_widget(formRegisterUser.passwordConfirm) }}
				{{ form_errors(formRegisterUser.passwordConfirm) }}

				<button type="submit" class="submit-button">S'inscrire</button>


				<div class="login-link">
					<p>Déjà inscrit ?
						<a href="{{ path('app_login') }}">Connectez-vous</a>
					</p>
				</div>
			</div>
			{{ form_end(formRegisterUser) }}
		</section>

	</section>

{% endblock %}
