{% extends 'base.html.twig' %}

{% block title %}Gérer votre compte
{% endblock %}

{% block body %}

	<section id="form-page" class="dfull">

		<section id="form-container" class="dfull">
			<div>
				<img src="{{ asset('img/bg-blur.png')}}" / alt="image">
			</div>

			{{ form_start(formUpdateUser) }}
			<div id="form" class="dfull fdc">
				<h2>Gérer votre compte</h2>
				<label for="pseudo" class="dfull fdc">Modifier votre pseudo</label><br/>
				{{ form_widget(formUpdateUser.username) }}
				{{ form_errors(formUpdateUser.username) }}

				<label for="email" class="dfull fdc">Modifier votre e-mail</label><br/>
				{{ form_widget(formUpdateUser.email) }}
				{{ form_errors(formUpdateUser.email) }}


				<label for="avatar" class="dfull fdc">Modifier votre avatar</label><br/>
				{{ form_widget(formUpdateUser.avatar) }}
				{{ form_errors(formUpdateUser.avatar) }}

				<button type="submit" class="submit-btn">Valider les modifications</button>

			</div>
			{{ form_end(formUpdateUser) }}
		</section>

	</section>

{% endblock %}
