{% extends 'base.html.twig' %}

{% block title %}Ajouter une figure
{% endblock %}

{% block body %}
	<section id="form-page" class="dfull fdc">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		<section id="form-container" class="dfull">
			{{ form_errors(trickForm) }}
			{{ form_start(trickForm) }}
			{% if trickForm.titleTrick.vars.errors|length > 0 %}
				<div class="error">
					{% for error in trickForm.titleTrick.vars.errors %}
						<p>{{ error.message }}</p>
					{% endfor %}
				</div>
			{% endif %}
			<div id="form" class="dfull fdc">
				<h2>Ajouter une figure</h2>
				<label for="nameTrick" class="labelForm">Nom de la figure</label><br/>
				{{ form_widget(trickForm.titleTrick) }}
				<label for="contentTrick" class="labelForm">Description de la figure</label><br/>
				{{ form_widget(trickForm.contentTrick) }}
				<label for="catTrick" class="labelForm">Catégorie</label><br/>
				{{ form_widget(trickForm.categories) }}
				<label for="mainImg" class="labelForm">Image principale</label><br/>
				{{ form_widget(trickForm.mainImg) }}
				<label for="moreImg" class="labelForm">Images secondaires</label><br/>
				{{ form_widget(trickForm.mediaImages) }}
				<label for="video" class="labelForm">Vidéo</label><br/>
				{{ form_widget(trickForm.mediaVideo) }}

				<button type="submit" class="submit-btn">Ajouter</button>
			</div>
			{{ form_end(trickForm) }}
		</section>
	</section>
{% endblock %}
