{% extends 'base.html.twig' %}

{% block title %}Mettre à jour une figure
{% endblock %}

{% block body %}
	<section id="form-page" class="dfull fdc">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		<section id="form-container" class="dfull">
			{{ form_errors(trickForm) }}
			{{ form_start(trickForm) }}
			{% if trickForm.titleTrick.vars.errors|length > 0 %}
				<div class="error">
					{% for error in trickForm.titleTrick.vars.errors %}
						<p>{{ error.message }}</p>
					{% endfor %}
				</div>
			{% endif %}
			<div id="form" class="dfull fdc">
				<h2>Mettre à jour une figure</h2>
				<label for="nameTrick" class="labelForm">Nom de la figure</label><br/>
				{{ form_widget(trickForm.titleTrick) }}
				<label for="contentTrick" class="labelForm">Description de la figure</label><br/>
				{{ form_widget(trickForm.contentTrick) }}
				<label for="catTrick" class="labelForm">Catégorie</label><br/>
				{{ form_widget(trickForm.categories) }}
				<label for="mainImg" class="labelForm">Image actuelle :</label><br/>
				<img src="{{asset(trick.mainImg)}}" / alt="image" class="main-img main-img-update">
				{{ form_widget(trickForm.mainImg) }}
				<label for="moreImg" class="labelForm">Images secondaires</label><br/>
				<div class="dfull fw gap">
					{% for image in trick.medias %}
						{% if image.type == 'image' %}
							<div class="dfull fdc more-img-container">
								<img src="{{asset(image.link)}}" / alt="image" class="more-img">
								<a href="{{ path('app_deleteImg', {'slug': trick.slug,'id': image.id}) }}">
									<i class="fa-solid fa-trash">
										Supprimer</i>
								</a>
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<label for="video" class="labelForm">Vidéo</label><br/>
				{% for video in trick.medias %}
					{% if video.type == 'video' %}
						<div class="dfull fdc">
							<iframe src="{{video.link}}" / alt="video"></iframe>
							<a href="{{ path('app_deleteVideo', {'slug': trick.slug,'id': video.id}) }}">
								<i class="fa-solid fa-trash">Supprimer</i>
							</a>
						</div>
					{% endif %}
				{% endfor %}
				{{ form_widget(trickForm.mediaVideo) }}

				<button type="submit" class="submit-btn">Confirmer</button>
			</div>
			{{ form_end(trickForm) }}
		</section>
	</section>
{% endblock %}
