{% extends 'base.html.twig' %}

{% block title %}Nom du trick
{% endblock %}

{% block body %}

	<section id="single-trick-page" class="dfull fdc">
		<div class="single-trick">
			<div class="img-container dfull fdc">
				<h1>{{trick.titleTrick}}</h1>
				<img src="{{asset(trick.mainImg)}}" / alt="image">
			</div>

			<div class="others-medias dfull">
				<img src="" / alt="image">
			</div>

			<div class="trick-details dfull gap">
				<span>Crée le {{trick.dateCreateTrick | date('d-m-Y') }}</span>
				<span>Groupe: {{trick.categories.nameCat}} |</span>
				{% if trick.dateUpdateTrick != trick.dateCreateTrick %}
				<span>Modifié le {{ trick.dateUpdateTrick | date('d-m-Y') }}</span>
				{% endif %}
			</div>
			<div class="trick-description">
				<p>{{trick.contentTrick}}</p>
			</div>


		</div>
	</section>

	<section id="add-comment-section" class="dfull fdc">
		<div class="comment-section dfull gap">
			<textarea placeholder="Ajoutez votre commentaire ici..."></textarea>
			<button class="submit-btn">Envoyer</button>
		</div>

		<div class="comments-list">
		{% for comment in comments %}
			<div class="comment dfull gap">
			
				<div class="avatar">
					<img src="{{ asset(comment.users.avatar)}}" / alt="image">
				</div>

				<div class="content">
					<h4 class="comment-author">{{ comment.users.userName }}</h4>
					<p class="comment-text">{{ comment.contentCom }}</p>
				</div>
			
			</div>
			{% endfor %}
		</div>

	</section>
{% endblock %}
