{% extends 'base.html.twig' %}

{% block title %}Nom du trick
{% endblock %}

{% block body %}

	<section id="single-trick-page" class="dfull fdc">
		<div class="single-trick">
			<div class="img-container dfull fdc">
				<img src="{{asset(trick.mainImg)}}" / alt="image" class="main-img">
				<h1 class="dynamic-image-text">
					{{ trick.titleTrick }}
				</h1>
			</div>

			{# Détails du trick #}
			<div class="trick-details dfull gap">
				<span>Crée le
					{{trick.dateCreateTrick | date('d-m-Y') }}
					par
					{{trick.users.username}}
					|</span>
				<span>Groupe:
					{{trick.categories.nameCat}}
					|</span>
				<span>Nombre de commentaires :
					{{trick.comments|length}}
					|</span>
				<span>Nombre de médias :
					{{trick.medias|length}}
					|</span>
				{% if trick.dateUpdateTrick != trick.dateCreateTrick %}
					<span>Modifié le
						{{ trick.dateUpdateTrick | date('d-m-Y') }}</span>
				{% endif %}
				{% if (app.user) and app.user.isVerified == 1 and ((trick.users.id == app.user.id) or (app.user.roles.0 == "ROLE_ADMIN")) %}
					<a class="iconeHome mb-2" href="{{ path('app_updateTrick', {'slug': trick.slug}) }}">
						<i class="fa-solid fa-pencil"></i>
					</a>
					<a class="iconeHome mb-2 mr-2" href="{{ path('app_deleteTrick', {'slug': trick.slug}) }}">
						<i class="fa-solid fa-trash"></i>
					</a>
				{% endif %}
			</div>

			{# Images supplémentaires #}
			<!-- Image container -->
			<div class="dfull gap">
				{% for media in trick.medias %}
					{% if media.type == 'image' %}
						<div class="gallery-img-container">
							<img src="{{ asset(media.link) }}" alt="{{ media.link }}" class="gallery-img">
						</div>
					{% endif %}
				{% endfor %}
			</div>

			<div class="dfull video-details-container">

				<div class="trick-description">
					<p>{{trick.contentTrick}}</p>
				</div>
				{% for media in trick.medias %}
					{% if media.type == 'video' %}
						<div class="gallery-video-container">
							<iframe src="{{ media.link }}" class="gallery-video" width="560" height="315" title="Titre de la vidéo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					{% endif %}
				{% endfor %}
			</div>


		</div>
	</section>

	<section id="add-comment-section" class="dfull fdc">

		<div class="comment-section dfull fdc gap">
			{% include('tricks/comments-trick.html.twig') %}
			{% for message in app.flashes('notice') %}
				<div class="alert alert-notice">
					{{ message }}
				</div>
			{% endfor %}
		</div>

		<div class="comments-list dfull gap fdc">
			<h3>Commentaires</h3>
			{% if trick.comments|length == 0 %}
				<span>Il n'y a aucun commentaire pour l'instant, ajoutez-en un !
				</span>
			{% else %}
				{% for comment in comments %}
					<div class="comment dfull">
						<div class="avatar">
							<img src="{{ asset(comment.users.avatar)}}" / alt="image">
						</div>

						<div class="content">
							<div class=" comment-info dfull">
								<h4 class="comment-author">{{ comment.users.userName }}</h4>
								<p>
									Le
									{{ comment.dateCreateCom | date('d-m-Y') }}
								</p>
							</div>
							<div class="comment-content">
								<p class="comment-text">{{ comment.contentCom }}</p>
							</div>
						</div>

					</div>
				{% endfor %}
			{% endif %}
		</div>
		{% include('tricks/pagination.html.twig') %}

	</section>


{% endblock %}
